# Compiled source #
###################*
*.class
*.log.txt
*.classpath
*.scala_dependencies
.project
.history
heap.bin

# FOLDERS
############
bin/
log/
dist/*
target/
project/boot/
project/plugins/project/
.settings/

# generated media
###############
*.bs.wav
*.wav
